:root{

   --color-primary1: #6f2f94;
   --color-primary2: #8e89d8;

    --color-primary: #00afff;
    --color-primary-dark: #98a9ff;

    --color-secondary: #ffffff;
    --color-secondary-dark: #e9dfe7;
    --color-gray-dark: #333;


}